<ion-header>
    <custom-navbar></custom-navbar>
</ion-header>

<ion-content padding>
    <img src="assets/imgs/alcometer.png">
        <form [formGroup]="loginForm">
            <ion-item>
                <ion-label color="primary" stacked>E-mail</ion-label>
                <ion-input [formControl]="loginForm.controls['email']" type="email" placeholder="E-mail"></ion-input>
            </ion-item>
                <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty"  class="validator-error">
                        Please enter a valid email.
                </div>
            <ion-item>
                <ion-label color="primary" stacked>Password</ion-label>
                <ion-input [formControl]="loginForm.controls['password']" [(ngModel)]="pass" type="password" placeholder="Password"></ion-input>
            </ion-item>
                <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty" class="validator-error">
                    Please enter a valid password.
                </div>
            <button ion-button full [disabled]="!loginForm.valid" (click)="login()">Login</button>
            <button ion-button full class="content" [navPush]="rs">Register</button>
        </form>
  </ion-content>
  
  <call-for-help>
  </call-for-help>


