page-result {
    .ios, .md {
        page-home {
     
            .scroll-content {
                background-color: map-get($colors, light);
            }
     
            ion-card-header {
                font-weight: bold;
            }
     
        }
     
    }
}


#driveWarningDanger{
    color: red;
}
#driveWarningMild{
    color: coral;
}
#driveWarningSafe{
    color: rgb(117, 196, 0);
}

#hoursTillDriving{
    color: grey;
    font-size: 80%;
}